@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Act as a border */
  .repo-card-wrapper {
    z-index: 0;
    @apply relative overflow-hidden rounded-2xl bg-gradient-to-b from-slate-100 to-slate-300;
  }

  /* Gradient */
  .repo-card-wrapper::before {
    background: conic-gradient(rgba(0, 0, 255, 0.4) 0deg, transparent 80deg);
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
    @apply absolute left-[-150%] top-[-150%] h-[400%] w-[400%] animate-border-spin content-[''] -z-20;
  }
  /* Show the ::before pseudo-element on hover */
  .repo-card-wrapper:hover::before {
    opacity: 1; 
  }

  /* Body */
  .repo-card-background {
    @apply absolute left-[2px] top-[2px] h-[calc(100%-4px)] w-[calc(100%-4px)] rounded-2xl bg-gradient-to-b from-slate-100 to-slate-300 -z-10;
  }
}
